* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

i {
    font-style: normal;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}