body {
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}

.top {
    width: 100%;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
}

.container {
    width: 1226px;
    height: 100%;
    margin: 0 auto;
    ;
}

.top .top_list {
    float: left;
}

.top .shop {
    float: right;
    margin-left: 15px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #b0b0b0;
    background: #424242;
}

.top .shop a:hover {
    color: #ff6700;
    background: #fff;
}

.top .shop .icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.top .shop a {
    width: 120px;
    height: 40px;
    display: inline-block;
}

.top .shop .shop-a {
    position: relative;
}

.top .shop .shop_container {
    position: absolute;
    top: 40px;
    /* margin-left: 150px; */
    right: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    width: 316px;
    height: 100px;
    line-height: 100px;
    color: #424242;
    background: #fff;
    border: 1px solid #b0b0b0;
    display: none;
    z-index: 10;
}

.top .login {
    float: right;
}

.top a {
    color: #b0b0b0;
    line-height: 40px;
    display: inline-block;
}

.top a:hover {
    color: #fff;
}

.top span {
    margin: 0 .3em;
    color: #424242;
}

.top .dow {
    position: relative;
}

.download {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 124px;
    height: 150px;
    background: #fff;
    margin-left: -64px;
    box-shadow: 0 1px 5px #aaa;
    text-align: center;
    font-size: 14px;
    color: #333;
    line-height: 1;
    /* overflow: hidden; */
    border: 1px solid #b0b0b0;
    display: none;
    z-index: 10;
}

.download img {
    width: 90px;
    height: 90px;
    margin: 18px auto 12px;
    display: block;
}


/* 导航栏 */

.header {
    height: 100px;
}

.header .container {
    position: relative;
}

.header .logo {
    float: left;
    width: 62px;
    margin-top: 22px;
}

.header .logo a {
    display: block;
    width: 56px;
    height: 56px;
}

.header .nav {
    float: left;
    width: 850px;
    position: relative;
}

.header .nav-top>ul {
    position: relative;
    width: 1100px;
    height: 88px;
    padding: 12px 0 0 30px;
    font-size: 16px;
}

.header .nav-top>ul>li {
    float: left;
}

.header .nav-top>ul>li:nth-child(1) {
    margin-left: 120px;
}

.header .nav-top>ul>li>a {
    display: block;
    padding: 26px 10px 38px;
    color: #333;
}

.header .nav-top>ul>li>a:hover {
    color: #ff6700;
}

.nav-box {
    position: relative;
    z-index: 99;
    width: 1226px;
    left: -62px;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.nav-box>ul {
    display: flex;
}

.nav-box>ul>li {
    position: relative;
    float: left;
    width: 180px;
    padding: 35px 12px 0;
    text-align: center;
}

.nav-box>ul>li>div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    margin-bottom: 15px;
}

.nav-box div:last-child {
    border: none;
}

.nav-box>ul>li>div>img {
    width: 160px;
    height: 110px;
    display: block;
}

.nav-box p {
    margin: 0;
    line-height: 20px;
}

.nav-box span {
    margin: 0;
    display: block;
    line-height: 20px;
    color: #ff6700;
}


/* 二级菜单下拉 */

.header .search {
    float: right;
    width: 296px;
    margin-top: 25px;
}

.header .search form {
    width: 296px;
    height: 50px;
    position: relative;
}

.header .search form .search-text {
    width: 223px;
    height: 48px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 0 10px;
    float: left;
}

.header .search form .search-btn {
    margin-left: -1px;
    width: 50px;
    height: 50px;
    border: 1px solid #e0e0e0;
    float: left;
}

.header .search form .search-btn .icon {
    font-size: 30px;
}

.header .search-word {
    position: absolute;
    font-size: 12px;
    top: 14px;
    right: 65px;
}

.header .search-word a {
    display: inline-block;
    padding: 0 5px;
    margin-left: 5px;
    color: #757575;
    background-color: #eee;
}

.header .search-word a:hover {
    background: #ff6700;
    color: #fff;
}


/* 主页 */

.content {
    width: 1226px;
    height: 460px;
    margin: 0 auto;
    position: relative;
}

.banner {
    position: absolute;
    width: 1226px;
    height: 460px;
    margin: 0 auto;
    overflow: hidden;
}

.pic img {
    width: 1226px;
    height: 460px;
    display: block;
}

.pic li {
    width: 100%;
    height: 460px;
    float: left;
    position: absolute;
    display: none;
}

.num {
    position: absolute;
    list-style: none;
    cursor: pointer;
    bottom: 20px;
    right: 10px;
}

.num li {
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    border-color: hsla(0, 0%, 100%, .3);
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, .4);
    opacity: 1;
    float: left;
    margin: 0 4px;
    cursor: pointer;
}

.num .current {
    border-color: #333;
    background: #fff;
}

.arrow {
    height: 69px;
    width: 41px;
    position: absolute;
    cursor: pointer;
    background-color: black;
    color: white;
    opacity: 0.4;
    font-size: 30px;
    text-align: center;
    line-height: 69px;
    top: 197px;
    display: none;
}

.left {
    left: 234px;
}

.right {
    right: 0;
}

.category-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 234px;
    height: 460px;
    background: rgba(0, 0, 0, .6);
    z-index: 10;
}

.category-list>ul {
    width: 234px;
    height: 420px;
    padding: 20px 0;
}

.category-list>ul>li {
    height: 42px;
}

.category-list>ul>li>a {
    padding-left: 30px;
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #fff;
    position: relative;
}

.category-list>ul>li>a:hover {
    background-color: #ff6700;
}

.category-list>ul span {
    position: absolute;
    display: block;
    top: 12px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
}

.children {
    position: absolute;
    left: 234px;
    top: 0;
    z-index: 10;
    height: 458px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
}

.children ul {
    height: 458px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.children-list li {
    width: 200px;
    height: 76px;
}

.children a {
    width: 200px;
    height: 76px;
    display: block;
    text-align: center;
    line-height: 76px;
    color: #333;
}

.children a:hover {
    color: #ff6700;
}

.children img {
    vertical-align: middle;
    margin-right: 5px;
}


/* 向导 */

.sub {
    width: 1226px;
    height: 170px;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 30px;
}

.sub-list1 {
    float: left;
    width: 234px;
}

.sub-list1 ul {
    background: #5f5750;
    font-size: 12px;
    text-align: center;
}

.sub-list1 ul li {
    float: left;
    width: 33.3%;
    height: 85px;
}

.sub-list1 ul li img {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 4px;
}

.sub-list1 ul li a {
    display: block;
    color: #ccc;
    padding-top: 18px;
}

.sub-list2 {
    float: left;
    width: 978px;
    margin-left: 14px;
}

.sub-list2 ul {
    width: 992px;
}

.sub-list2 ul li {
    float: left;
    width: 33.3%;
}

.sub-list2 ul li a {
    display: block;
    height: 170px;
}

.sub-list2 ul li img {
    display: block;
    width: 316px;
    height: 170px;
}


/* 内容 */

.content-desc {
    background: #f5f5f5;
    width: 100%;
    /* height: 1000px; */
}

.content-desc .home {
    margin-bottom: 22px;
    position: relative;
}

.hd {
    position: relative;
    height: 58px;
}

.hd h2 {
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}

.row {
    width: 1226px;
    height: 340px;
    margin: 0 auto;
}

.row .count {
    width: 234px;
    height: 300px;
    padding-top: 39px;
    border-top-width: 1px;
    border-top-style: solid;
    background: #f1eded;
    text-align: center;
    float: left;
}

.row .count .round {
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 15px;
}

.row .count .img {
    margin: 25px auto;
}

.row .count .desc {
    color: rgba(0, 0, 0, .54);
    font-size: 15px;
}

.row .count .time {
    width: 168px;
    margin: 28px auto 0;
}

.row .count .time span {
    width: 46px;
    height: 46px;
    background: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    float: left;
}

.row .count .time i {
    width: 15px;
    float: left;
    height: 46px;
    line-height: 46px;
    color: #605751;
    font-size: 28px;
    font-style: normal;
}

.content-desc .row ul li {
    width: 234px;
    height: 300px;
    padding-top: 39px;
    float: right;
    background: pink;
}

.row-list {
    width: 234px;
    height: 339px;
    float: right;
    margin-left: 10px;
    text-align: center;
    background: #fff;
}

.row-list a {
    display: block;
    height: 300px;
    padding-top: 39px;
}

.row-list img {
    width: 160px;
    height: 160px;
}

.row-list h3 {
    margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    color: #212121;
    overflow: hidden;
    white-space: nowrap;
}

.row-list span {
    color: #ff6700;
}

.row-list p {
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    color: #b0b0b0;
    overflow: hidden;
    white-space: nowrap;
}

.c1 {
    border-top: 1px solid orange;
}

.c2 {
    border-top: 1px solid green;
}

.c3 {
    border-top: 1px solid beige;
}

.c4 {
    border-top: 1px solid blue;
}

.content-banner {
    height: 120px;
    /* overflow: hidden; */
}

.content-banner img {
    width: 1226px;
    display: block;
}


/* footer */

.footer_top {
    width: 1226px;
    margin: 0 auto;
    line-height: 1;
}

.footer_top ul {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 40px;
}

.footer_top ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box;
    font-size: 17px;
    color: #666;
    cursor: pointer;
}

.footer_top ul li:last-of-type {
    border-right: none;
}

.footer_top ul li a {
    display: block;
    font-size: 17px;
    color: #616161;
}

.footer_top ul li .icon {
    margin: -2px 4px 0 0;
    font-size: 24px;
}

.footer_top ul a:hover {
    color: #ff6700;
}

.footer_top div {
    display: flex;
}

.footer_top div p {
    display: flex;
    flex-direction: column;
    width: 160px;
    font-size: 13px;
    color: #424242;
}

.footer_top div p a {
    margin: 8px 0;
    font-size: 11px;
    color: #999;
}

.footer_top div p a:nth-of-type(1) {
    margin-top: 30px;
}

.footer_top div p:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 242px;
    height: 110px;
    border-left: 1px solid #e0e0e0;
    margin-left: 20px;
}

.footer_top div p:last-of-type span {
    font-size: 18px;
    color: #ff6700;
}

.footer_top div p:last-of-type strong {
    margin: 10px 0 15px 0;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    color: #616161;
    font-weight: normal;
}

.footer_top div p:last-of-type i {
    width: 120px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #ff6700;
    text-align: center;
    line-height: 30px;
    transition: all .4s;
    color: #ff6700;
}

.footer_top div p:last-of-type i:hover {
    color: #fff;
    background-color: #ff6700;
}

footer {
    display: flex;
    align-items: flex-start;
    padding: 34px 62px 0 62px;
    height: 234px;
    line-height: 1;
    background: rgb(250, 250, 250) url(https://s02.mifile.cn/assets/static/image/slogan2016.png) center 200px no-repeat;
}

footer div p {
    margin-left: 6px;
    font-size: 10px;
    color: #999;
}

footer div p:nth-of-type(1) {
    display: flex;
    line-height: 20px;
}

footer div p:nth-of-type(1) a {
    margin: 0 3px;
    color: #999;
}

footer div p:nth-of-type(2) {
    overflow: hidden;
    margin-bottom: 10px;
}

footer div p:nth-of-type(2) a {
    height: 20px;
    color: #999;
    line-height: 18px;
}

footer div p a:hover {
    color: #ff6b00;
}

footer div p:last-of-type img {
    width: 85px;
}

.fixed {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 25px;
    height: 42px;
    border: 1px solid #888;
    background: url(https://i1.mifile.cn/f/i/2018/home/totop.png) center no-repeat;
    cursor: pointer;
}

.fixed:hover {
    background: url(https://i1.mifile.cn/f/i/2018/home/totop_hover.png) center no-repeat;
}