.header,
.content {
    width: 1226px;
    margin: 0 auto;
}

.log {
    background: url(https://account.xiaomi.com/static/res/7f6f2f5/account-static/respassport/acc-2014/img/mistore_logo.png);
    width: 200px;
    height: 98px;
}

.banner {
    height: 556px;
    background: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/7f25f8c94bac0a8bfb3c6a3e30e5b7dd.jpg)center center;
}

.login {
    text-align: center;
    width: 410px;
    height: 497px;
    background: #fff;
    float: right;
    margin-top: 60px;
}

.login h2 {
    font-weight: 100;
    color: #ff6700;
    margin: 40px 0px;
}

.login input {
    width: 316px;
    height: 22;
    padding: 13px 14px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}

.login button {
    width: 348px;
    height: 50px;
    background: #ff6700;
    border: none;
    color: #fff;
    cursor: pointer;
}

.login a {
    text-decoration: none;
    color: gray;
    float: right;
    margin-right: 31px;
    margin-top: 5px;
    font-size: 12px;
}

.login a:hover {
    color: #ff6700;
}